@import '../../root';

.itemRow {
  display: flex;
}

.headerContainer {
  /* Reset the Tile's default properties. */
  min-height: initial;
  width: 135px;
}

.valueContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  width: 290px;
  border-top: 1px solid $ui-01;
}
