@import '../../root.scss';

.pullColumnContentRight > div {
  float: right;
}

.fullHeightTextAreaContainer {
  :global .bx--form-item {
    height: 100%;

    :global .bx--text-area__wrapper {
      height: 100%;
    }
  }
}
